<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/logo.png" />
		<link rel="manifest" href="/manifest.json" crossorigin="use-credentials"/>
		<link rel="mask-icon" href="/logo.svg">
		<link rel="apple-touch-icon" sizes="512x512" href="/logo.svg">
		<meta name="author" content="Arwana Dev Team" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="application-name" content="Ada Ikan" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-title" content="Ada Ikan" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#00796B">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="msapplication-starturl" content="/" />
		<meta name="theme-color" content="#1B90FC" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
		%svelte.head%
	</head>
	<body class="dark" data-theme="dark">
		%svelte.body%
	</body>
</html>
